<h1>Past 24 Hours Pollutant Concentration Summary</h1>


<div id="container"></div>

<div id="divNote">
  <div xmlns:fo="http://www.w3.org/1999/XSL/Format" class="cDivRemark">
    <div class="rmkTitle">Remark:</div>
    <div class="rmkContent">
      (1) Time shown is in HK time.<br>
      (2) NO<sub>2</sub> - nitrogen dioxide , O<sub>3</sub> - ozone, <br>
      &nbsp;&nbsp;&nbsp;SO<sub>2</sub> - sulphur dioxide, CO - carbon monoxide <br>
      &nbsp;&nbsp;&nbsp;PM<sub>10</sub>/RSP - respirable suspended particulates <br>
      &nbsp;&nbsp;&nbsp;PM<sub>2.5</sub>/FSP - fine suspended particulates <br>
      (3) Concentration shown is in µg/m<sup>3</sup>. <br>
      (4) The concentration information is based on raw data taken directly from EPD's Air Quality Monitoring Network.
    </div>
</div>
</div>